
.commect{
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.commect h2{
  padding-bottom: 6px;
  border-bottom: 1px solid #f0f0f0;
}
.commect li {
  display: block;
}


.comment-submit{
  text-align: end;
}

.add-like {
  cursor:pointer;
  margin-right: 10px;
}
.add-like > span{
  margin-right: 3px;
}
.comment-action {
  cursor:pointer;
  margin-right: 10px;
}





