

.tag {
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin-bottom: 12px;
  padding: 12px;
}
.tag span{
  margin-top: 4px;
  margin-bottom: 4px;
}
.tag-title {
  padding-bottom: 8px;
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 4px;
  text-align: left;
}